//Fonts
$font: "Poppins", sans-serif;
$font-main: "Inter", sans-serif;;
//Text colors
$gray-text: #75767F;
$white-text: #FCFDFE;
$black-text: #191B23;

//Background colors
$dark-1: #1A1919;
$dark-2: #161412;
$dark-3: #120E0B;
$gray-1: #FCFDFE;
$gray-2: #F3F4F5;
$peach: #FDF0EA;

//Colors
$orange: #FF7D34;